build/
*.class
.gradle
.idea/
logs/
src/test/
gradle-app.setting
.gradle/
**/build/
out/
!src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
src/main/resources/
src/**/.gitignore
notes
